<main class="main container">
  <section class="list-cars section" id="list-cars">
    <div>
      <div class="d-flex justify-content-end py-2">
        <a href="/admin-page/create/car">
           <button class="btn btn-success">Thêm xe mới</button>
        </a>
       
      </div>
      <ul class="list-items"></ul>
      <% for (var i = 0; i < car.length; i++) { %>  
        <li class="item">
          <td><a href=""><button type="button" class="btn btn-danger btn-restore" data-id="<%= car[i]._id %>" style="width:100px"><span class="oi oi-share-boxed"></span>Delete</button></a></td>
          <!-- <td><a><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-course-modal" data-bs-whatever="<%= car[i]._id %>"><span class="oi oi-delete"></span> Xóa</button></a></td>   -->
          <td><a href="/admin-page/edit/<%= car[i]._id %>"><button type="button" class="btn btn-success" ><span class="oi oi-share-boxed"></span>Edit</button></a></td>
         <br/>
          <div class="d-flex justify-content-end img-text-car" >
            <p><%= car[i].name %></p>
            <img src="<%= car[i].img %>" alt="img" style="height: 80px;" />
            <br/>
          
          </div>
        </li>
       <% } %>
     </ul>
    </div>
  </section>
</main>
<form name = "delete-form" method="POST" action=""></form>
<form name = "restore-form" method="POST" action=""></form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Xóa Khóa Học</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chăc chắn muốn xóa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button  id = "delete" type="button" class="btn btn-primary" >Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
      document.addEventListener("DOMContentLoaded", function() {
            var courseId;
            var btnDeleteCourse = document.getElementById('delete');
          //   var formDelete = document.forms['delete-form']; 
            var btnRestore = $('.btn-restore');
            var formRestore = document.forms['restore-form'];
          //  var deleteModal = document.getElementById("delete-course-modal")
           $('#delete-course-modal').on('show.bs.modal', function (event) {
                                    var button = $(event.relatedTarget) 
  courseId = button.data('whatever')
  console.log(courseId);
  

  
});
           btnRestore.click(function(e){
             e.preventDefault();
             var btnIdRestore = $(this).data('id');
            formRestore.action = '/admin-page/' + 'delete/' + btnIdRestore + '?_method=DELETE';
            formRestore.submit();

           }) 
                       
          btnDeleteCourse.onclick = function() {
            
            //  formDelete.action = '/products/' + courseId + '/force?_method=DELETE';
            //  formDelete.submit();
          }
      });

</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  