<main class="main">
  <!--==================== HOME ====================-->
  <section class="home section" id="home">
    <div class="shapeX shape__big"></div>
    <div class="shapeX shape__small"></div>
    <div class="home__container container grid">
      <% for (var i=0; i < promotion.length;i++) {%>

      <div
        class="promotion-car <% if (i != 0) { %> disabled-class <% } %>"
        data-index="<%=i%>"
      >
        <div class="home__data">
          <h1 class="home__title">Hãy chọn xe của bạn</h1>
          <h2 class="home__subtitle home__subtitle-<%=i%>">
            <%=promotion[i].name%>
          </h2>
          <h3 class="home__elec home__elec-<%=i%>">
            <i class="ri-flashlight-fill"></i>
            <%=promotion[i].title%>
          </h3>
        </div>

        <img
          src="/<%=promotion[i].img%>"
          alt="<%=promotion[i].name%>"
          class="home__img home__img-<%=i%> d-flex mx-auto"
        />
        <div class="home__car">
          <div class="home__car-data-<%=i%>">
            <div class="home__car-icon">
              <i class="ri-ruler-line"></i>
            </div>
            <h2 class="home__car-number"><%=promotion[i].length%></h2>
            <h3 class="home__car-name">Chiều dài cơ sở</h3>
          </div>

          <div class="home__car-data-<%=i%>">
            <div class="home__car-icon">
              <i class="ri-oil-line"></i>
            </div>
            <h2 class="home__car-number"><%=promotion[i].fuel%></h2>
            <h3 class="home__car-name">Dung tích thùng nhiên liệu</h3>
          </div>
          <div class="home__car-data-<%=i%>">
            <div class="home__car-icon">
              <i class="ri-flashlight-fill"></i>
            </div>
            <h2 class="home__car-number"><%=promotion[i].performance%></h2>
            <h3 class="home__car-name">Công suất tối đa</h3>
          </div>
        </div>
      </div>

      <%}%>

      <a href="#about" class="home__button">Lái ngay</a>

      <div class="slider__bg">
        <% for (var i=0; i < promotion.length;i++) {%>
        <div
          class="slider__bg-navBtn <% if (i == 0) { %> active <% } %>"
          data-index="<%=i%>"
        ></div>
        <%}%>
      </div>
    </div>
    <div class="home__social">
      <div class="content-center">
        <a class="pulse home__social-icon" href="tel:0969123630">
          <i class="ri-phone-fill ri-2x"></i>
        </a>
      </div>
      <div class="content-center">
        <a
          class="pulse home__social-icon bg-transparent"
          href="http://zalo.me/0969123630"
        >
          <img src="img/zalo.svg" alt="liên lạc zalo" />
        </a>
      </div>
    </div>
  </section>
  <!--==================== GALLERY BANNER ====================-->
  <section class="gallery section">
    <div class="gallery__container container grid">
      <video
        class="video__slide active"
        src="video/vid_1.mp4"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video__slide"
        src="video/vid_4.mp4"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video__slide"
        src="video/vid_3.mp4"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video__slide"
        src="video/vid_2.mp4"
        autoplay
        muted
        loop
      ></video>
      <video
        class="video__slide"
        src="video/vid_5.mp4"
        autoplay
        muted
        loop
      ></video>
    </div>
  </section>

  <!--==================== ABOUT ====================-->
  <%- include("../views/about.ejs") %>

  <!--==================== POPULAR ====================-->
  <section class="popular section" id="hot">
    <h2 class="section__title">
      Thế hệ mới - Đẳng cấp mới <br />
      AutoMazda
    </h2>
    <div class="popular__container container swiper">
      <div class="swiper-wrapper">
        <% for (var i=0; i < promotion.length;i++) {%>

        <article class="popular__card swiper-slide">
          <div class="shapeX shape__smaller"></div>

          <h1 class="popular__title"><%=promotion[i].name %></h1>
          <h3 class="popular__subtitle"><%=promotion[i].title %></h3>

          <img
            src="/<%=promotion[i].img %>"
            alt="<%=promotion[i].name %>"
            class="car-img"
            class="popular__img"
          />

          <div class="popular__data">
            <div class="popular__data-group">
              <i class="ri-ruler-line"></i> <%=promotion[i].length %>
            </div>
            <div class="popular__data-group">
              <i class="ri-oil-line"></i> <%=promotion[i].fuel %>
            </div>
            <div class="popular__data-group">
              <i class="ri-flashlight-fill"></i> <%=promotion[i].performance %>
            </div>
          </div>

          <h3 class="popular__price">$<%=promotion[i].price %></h3>
          <a class="button popular__button" href="#about">
            <i class="ri-vip-diamond-fill"></i>
          </a>
        </article>

        <%}%>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!--==================== FEATURED ====================-->
  <section class="featured section" id="featured">
    <h2 class="section__title">Khẳng định đẳng cấp cùng AutoMazda</h2>
    <div class="featured__container container">
      <ul class="featured__filters">
        <li>
          <button class="featured__item active-featured" data-filter="all">
            <span>Tất cả</span>
          </button>
        </li>
        <li>
          <button class="featured__item" data-filter=".SUV">
            <span>SUV</span>
          </button>
        </li>
        <li>
          <button class="featured__item" data-filter=".Sedan">
            <span>Sedan</span>
          </button>
        </li>
        <li>
          <button class="featured__item" data-filter=".hatchback">
            <span>Hatchback</span>
          </button>
        </li>
        <li>
          <button class="featured__item" data-filter=".bantai">
            <span>Bán tải</span>
          </button>
        </li>
      </ul>

      <div class="featured__content grid">
        <% for (var i=0; i < car.length;i++) {%>

        <article class="featured__card mix <%=car[i].filter%>">
          <div class="shape shape__smaller"></div>

          <a href="/<%=car[i].name%>"
            ><h1 class="featured__title"><%=car[i].name%></h1></a
          >
          <h3 class="featured__subtitle"><%=car[i].title%></h3>
          <img
            src="/<%=car[i].img%>"
            alt="<%=car[i].name%>"
            class="featured__img"
          />
          <h3 class="featured__price">$<%=car[i].price%></h3>
          <a class="button featured__button" href="#about">
            <i class="ri-shopping-bag-2-line"></i>
          </a>
        </article>
        <%}%>
      </div>
    </div>
  </section>

  <!--==================== OFFER ====================-->
  <section class="offer section">
    <div class="offer__container container grid">
      <img src="img/offer-bg.png" alt="" class="offer__bg" />

      <div class="offer__data">
        <h2 class="section__title offer__title">
          Bạn có muốn nhận <br />
          ưu đãi đặc biệt?
        </h2>

        <p class="offer__description">
          Hãy là người đầu tiên nhận được tất cả thông tin về các sản phẩm và ô
          tô mới của chúng tôi qua số điện thoại bằng cách đăng ký vào danh sách
          khách hàng VIP của chúng tôi. Gửi ngay
        </p>

        <a href="#about" class="button">Nhận ngay</a>
      </div>

      <img src="img/cx8.png" alt="" class="offer__img" />
    </div>
  </section>

  <!--==================== LOGOS ====================-->
  <section class="logos section">
    <div class="logos__container container grid">
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="/img/logomazda.png" alt="mazda logo" class="logos__img" />
      </div>
      <!-- <div class="logos__content">
        <img src="img/logo1.png" alt="" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="img/logo6.png" alt="" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="img/logo5.png" alt="" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="img/logo4.png" alt="" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="img/logo3.png" alt="" class="logos__img" />
      </div>
      <div class="logos__content">
        <img src="img/logo2.png" alt="" class="logos__img" />
      </div> -->
    </div>
  </section>
</main>
